beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.7.22
charset-normalizer==3.3.0
EditorConfig==0.12.3
idna==3.4
jsbeautifier==1.14.9
requests==2.31.0
six==1.16.0
soupsieve==2.5
tls-client==0.2.2
urllib3==2.0.6
